 @font-face{
    font-family: 'NeueMachina-Medium';
    font-weight: 400;
    font-style: normal;
    src: local('NeueMachina-Medium'),
         url('../fonts/NeueMachina-Medium.woff2') format('woff2'),
         url('../fonts/NeueMachina-Medium.woff') format('woff');
    font-display: swap;
} 
@font-face{
    font-family: 'NeueMachina-Ultrabold';
    font-weight: 800;
    font-style: normal;
    src: local('NeueMachina-Ultrabold'),
         url('../fonts/NeueMachina-Ultrabold.woff2') format('woff2'),
         url('../fonts/NeueMachina-Ultrabold.woff') format('woff');
    font-display: swap;
} 


