.project {
    &__title {
        padding-top: 150px;

        @extend %title;
        max-width: 500px;
    }

    &__text {
        font-size: 32px;
        @extend %Medium;
        max-width: 684px;
        padding-top: 30px;
    }

    &__advantage-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px 40px;
        padding-top: 30px;
    }

    &__advantage-item {
        width: 360px;
        height: 264px;
        background: #5224B5;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        flex-direction: column;
        transition: 0.5s;

        &:hover,&:focus, &:active {
            background-color: #FE8235;
            transition: 0.5s;

            .project__advantage-svg {
                fill: #000000;
            }

            .project__advantage-text {
                color: #0A0A0A;
            }
        }
    }

    &__advantage-text {
        font-size: 24px;
        text-align: center;
        max-width: 250px;
        line-height: 120%;
        @extend %Medium;
    }

    &__advantage-svg {
        height: 72px;
        width: 72px;
        margin-bottom: 27px;
        fill: #FE8235
    }

    &__benefit-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__benefit-title {
        @extend %title;
        max-width: 600px;
    }

    &__benefit-text {
        font-size: 32px;
        padding-top: 30px;
        max-width: 320px;
        padding-bottom: 80px;
        font-size: 32px;
        line-height: 140%;
        @extend %Medium;
    }   

    &__benefit-text:last-child {
        max-width: 470px;
        font-size: 32px;
    }

    &__NFT-name {
        color: #fff;
    }

}

@media (max-width:1300px) {
    .project {
        &__advantage-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
}

@media (max-width:950px) {
    .project {
        &__advantage-item {
            width: 100%;
        }

        &__benefit-wrapper {
            flex-direction: column;
        }

        &__benefit-text {
            max-width: 100% !important;
        }

        &__text {
            max-width: 100%;
            padding-bottom: 50px;
        }

        &__title {
            padding-top: 50px;
        }

        &__benefit-title {
            padding-top: 50px;
            ;
        }
    }
}

@media (max-width:650px) {
    .project {
        &__title {
            font-size: 30px;
            line-height: 40px;
        }
        &__text{
            font-size: 18px;
            padding-bottom: 10px;
            line-height: 30px;
        }
        &__benefit-title {
            font-size: 38px;
        }
        &__benefit-title{
            font-size: 30px;
            line-height: 40px;
            max-width: 400px;
        }
        &__benefit-text{
            font-size: 18px !important;
            padding-bottom: 0px;
            line-height: 30px;
            padding-bottom: 60px;
            
        }
        &__benefit-text:last-child{
            padding-top: 6px;
        }
    }
}