.top {
    &__wrapper {
        background-image: url('../img/top/top.jpg');
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 615px;
        background-size: cover;
    }

    &__conent {
        display: flex;
        justify-content: space-between;
        padding-bottom: 100px;
    }

    h1 {
        line-height: 96px;
        font-size: 80px;
        max-width: 861px;
        text-transform: uppercase;
        letter-spacing: 0.01em;
    }

    .text {
        font-size: 30px;
        line-height: 160%;
        max-width: 600px;

    }

    &__user-verification {
        display: flex;
        flex-direction: column;
        max-width: 260px;
        width: 100%;
        margin-top: 200px;
    }

    &__link-verification {
        margin-top: 0px;
        color: #FE8235;
        background-color: transparent;
        border: 2px solid #FE8235;
        font-size: 22px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        margin-top: 20px;
        max-width: 260px;
        padding: 24px 8px;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        transition: 0.5s;

        &:hover {
            max-width: 260px;
            background-color: #FE8235;
            padding: 24px 8px;
            color: #ffff;
            font-size: 22px;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            display: inline-block;
            text-align: center;
            transition: 0.5s;
        }
    }

    &__link-verification+.top__link-verification {
        margin-top: 20px;
    }
}

@media (max-width: 1420px) {
    .top {
        &__supporting{
            flex-wrap: wrap;
            gap: 20px;
        }
    }
}

@media (max-width:1100px) {
    .top {
        h1 {
            font-size: 50px;
            line-height: 80px;
        }

    }
}

@media (max-width:950px) {
    .top {
        &__wrapper {
            background-position: center;

        }
    }
}

@media (max-width:850px) {
    .top {
        &__inner{
            padding: 40px 0px;
        }


        &__conent {
            flex-direction: column;
        }

        &__user-verification {
            margin-top: 90px;
            display: block;
        }

        &__link-verification {
            max-width: 500px;
            display: block;
            margin: 0 auto;

            &:hover {
                max-width: 500px;
                display: block;
            }
        }

        &__user-verification {
            max-width: inherit;
        }
    }
}






@media (max-width:650px) {
    .top {
        &__wrapper {
            padding-top: 280px;
        }
        &__inner{
            padding: 25px 0px;
        }
        &__user-verification {
            margin-top: 60px;
        }

        h1 {
            line-height: 30px;
            padding-bottom: 0px;
        }

        &__conent {
            padding-bottom: 50px;
        }

        .title {
            font-size: 30px;

        }

        .text {
            font-size: 18px;
            margin-top: 20px;

        }
   
    }
}

@media (max-width:500px) {
    .top {
        &__link-verification {
            max-width: 100%;
        }
    }
}




