// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1172;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$mainColor: #131418;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: #131418;
$burgerActiveColor: #fefefe;



%Ultrabold{
    font-family: 'NeueMachina-Ultrabold';
    font-weight: 800;
}
%Medium{
    font-family: 'NeueMachina-Medium';
    font-weight: 400;
}
%title{
    font-size: 48px;
    line-height: 57.6px;
    padding-top: 150px;
}
