.parners {
    background: #7FFA8A;
    padding: 90px 0px;

    &__list {
        height: 170px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 1120px) {
    .parners {
        &__item {
            padding: 20px 20px;
        }

        &__list {
            height: auto;
            flex-wrap: wrap;

        }
    }
}

@media (max-width: 991.98px) {
    .parners {
        .container{
            max-width: 740px;
        }
    }
}



 @media (max-width: 650px) {
    .parners {
        &__item{
            padding: 10px 10px;
        }
    }
}
